body {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0;
  height: 600px;
}

/* Header and navbar fixed at the top of the site */

header {
  position: fixed;
  z-index: 7;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: dotted white 2px;
}

header h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-left: 40px;
}

nav {
  margin-right: 70px;
  align-items: center;
}

nav li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
  padding: 5px;
  text-transform: uppercase;
}

nav a {
  padding: 5px;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a:active {
  color: lightskyblue;
}

/*Image Slideshow*/

.slider {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  border-bottom: dotted white 2px;
}

.image-container {
  width: 300%;
  background-color: black;
  height: 700px;
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 80px 0px 0px 0px;
  position: relative;
  object-fit: cover;
  object-position: 50% 10%;
}

/*Text on top of slideshow*/

figcaption {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 150%;
  margin-left: 30px;
  margin-top: -125px;
}

/*moves slide show to the left when button is clicked */

#slide-1:target ~ .image-container {
  left: 0px;
}

#slide-2:target ~ .image-container {
  left: -100%;
}

#slide-3:target ~ .image-container {
  left: -200%;
}

/*Buttons to change slideshow image */

.buttons {
  position: absolute;
  margin: -600px 50% 0 47%;
  width: 30%;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: solid 1px gray;
  border-radius: 50px;
  background-color: white;
}

/* Portfolio Section */

.portfolio {
  display: flex;
  justify-content: space-evenly;
  padding-top: 200px;
}

.sectiontitle {
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 20px 0;
  padding-top: 10000px;
}

.card h3 {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
}
.card {
  display: flex;
  justify-content: center;
  width: 30%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover h3 {
  visibility: visible;
}

/* About section */

#about {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mattphoto {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: purple;
  margin: 20px auto;
  margin-bottom: 200px;
  background-image: url("./portfoliopic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#about .sectiontitle {
  padding: 0;
}

.bio {
  margin-top: 16px;
  width: 40%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

.info-text {
  margin-top: 8px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

/* Contact section */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

#contact label {
  color: white;
}

.error {
  color: red;
}

#contact h2 {
  margin-bottom: 0;
}

#contact a:link {
  color: white;
  text-decoration: none;
}

#contact a:visited {
  color: white;
  text-decoration: none;
}

#contact a:hover {
  background-color: white;
  color: black;
}

#contact a:active {
  color: lightskyblue;
}

/*Resume*/
#resume-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

#resume-link {
  color: white;
}

#resume-section a:link {
  color: white;
  text-decoration: none;
}

#resume-section a:visited {
  color: white;
  text-decoration: none;
}

#resume-section a:hover {
  background-color: white;
  color: black;
}

#resume-section a:active {
  color: lightskyblue;
}

#resume-section h3 {
  color: white;
}

.skills {
  color: white;
}

/*Footer*/
footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
  border-top-style: dotted;
  border-top-color: white;
}

footer a:link {
  color: white;
  text-decoration: none;
}

footer a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  background-color: white;
  color: black;
}

footer a:active {
  color: lightskyblue;
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .card {
    width: 45%;
  }

  #about p {
    width: 75%;
  }

  .buttons {
    position: absolute;
    margin: -600px 50% 0 47%;
    padding-top: 30px;
    width: 30%;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }

  .buttons {
    position: absolute;
    margin: -600px 50% 0 47%;
    padding-top: 60px;
    width: 30%;
  }
}
